flash_erase
flash_lock
flash_unlock
flash_info
flash_otp_info
flash_otp_dump
flashcp
ftl_check
ftl_format
jffs2dump
mkfs.jffs2
mtd_debug
nftldump
nftl_format
nanddump
nandtest
nandwrite
doc_loadbios
doc_loadipl
docfdisk
rfddump
rfdformat
recv_image
server_image
sumtool
